[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
asgiref = "*"
django = "*"
gunicorn = "*"
python-decouple = "*"
pytz = "*"
sqlparse = "*"
typing-extensions = "*"
psycopg2-binary = "*"
dj-database-url = "*"
dj-static = "*"

[dev-packages]

[requires]
python_version = "3.7"
